<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/home.css">
<link rel="manifest" href="manifest.json">
<script src="js/product.js"></script>
<title>Shopping App </title>
</head>

<body>



    Your order was placed. <br>
    Your order id is:<span style="color: blue;">
        <%=orderId.substring(0,8).toUpperCase() %>
    </span><br>
    Keep this Id for your records.

</body>

</html>